ErrorDocument 400 https://matt-watson-design.github.io/400.html
ErrorDocument 401 https://matt-watson-design.github.io/401.html
ErrorDocument 403 https://matt-watson-design.github.io/403.html
ErrorDocument 404 https://matt-watson-design.github.io/404.html
ErrorDocument 500 https://matt-watson-design.github.io/500.html

RewriteEngine on
RewriteBase /
RewriteCond %{https://matt-watson-design.github.io/} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html [L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ https://matt-watson-design.github.io/$1 [R=301,L]